DATABASE_URI=mongodb+srv://<username>:<password>@hms-cluster0.9rozoiv.mongodb.net/?retryWrites=true&w=majority&appName=HMS-Cluster0
JWT_SECRET=mysecretkey
PORT=5001
SWAGGER_BASE_PATH=http://localhost:5001
ENV_NAME=development
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-password
EMAIL_FROM=no-reply@example.com